*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

.App{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  'newBill newBill'
  'upcomingBills searchBills'
  'calendarBills calendarBills'
  'allBills allBills';
}

.section{
  box-shadow: 2px 2px 2px rgb(174, 174, 174), 
  -2px -2px 2px rgb(238, 238, 238);
  margin: 0.2rem;
  padding: 0.4rem;
}

.addBillSection{
  grid-area: newBill;
}

.addBillForm{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.upcomingBillsSection{
  grid-area: upcomingBills;
}

.searchBillsSection{
  grid-area: searchBills;
}

.billCalendarSection{
  grid-area: calendarBills;
}

.allBillsSection{
  grid-area: allBills;
}